{% extends '@base/layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

     <div class="container" style="padding-top: 60px">
         <div class="row align-items-center">
             <div class="col-12 col-md-12">
                <h1 style="font-weight: 900;">Oauth2 server</h1>
                 <p>
                     OAuth 2.0 es un estándar para implementar autorizaciones con acceso limitado a través de HTTP. Podemos usar esta autenticación adicional para nuestras API REST o podemos permitir que terceros usen su servidor OAuth 2.0 para autenticar a los usuarios en su sistema.
                 </p>
                 <h3>Roles</h3>
                 <h3>Grants</h3>
                 <h3>Test</h3>
             </div>
     </div>

 </div>

{% endblock %}
