hr{
     margin-bottom: 30px
}
h1,h3{
    font-weight: 900;
}

h1>span.text-muted{
    font-weight: lighter;
    font-size: 1rem
}
.btn-link {
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}
.btn-link:hover {
    color: #fff;
    text-decoration: none;
}
.card .card-header{
    background-color: #2b6a40
}
.card .card-header h5{
    margin-bottom: 0;
}
code {
    color: #2b3d50;
    display: inline-block;
    padding: 3px 5px;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 17px;
    line-height: 100%;
    border-radius: 2px;
    background: #f5f6f7;
    border: solid #dcdddd 1px;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-wrap: normal;
    word-spacing: normal;
}
.list-param{
    line-height: 32px;
    margin-bottom: 1px;
    overflow: hidden;
}
.input-api{
    display: inline-block;
    width: auto;
    float: right;
    height: 30px;
}
