{% extends '@base/layout.html.twig' %}

{% block title %}Examples{% endblock %}

{% block content %}

    <div class="container" style="padding-top: 60px">
        <div class="row align-items-center">
            <div class="col-12 col-md-12">
                <h1 style="font-weight: 900;">Blog</h1>

            </div>
        </div>

    </div>

{% endblock %}
